<ion-header>
  <ion-toolbar>
    <ion-title>PRUEBA UNO</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h1>Recupera tu contraseña</h1>
    <p>Rellena los campos para solicitar tu nueva contraseña</p>
  </div>

  <form action="">
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input placeholder="Ingresa tu correo registrado" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input placeholder="Ingresa tu usuario registrado"  minlength="3" maxlength="8"></ion-input>
    </ion-item>
    <div>
      <ion-button id="boton-2" (click)="mensaje()">Solicitar</ion-button>
    </div>
  </form>
</ion-content>
