ion-content{
  text-align: center;

  #boton-1{
    --background: #12d875;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;

    --color: rgb(0, 0, 0);

    --border-radius: 0;

  }
  #boton-2{
    --background: #000000;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;

    --color: rgb(0, 98, 255);

    --border-radius: 0;

  }
}
